{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="example-wrapper container">
		<h1>Hello ✅</h1>

		{% if app.user %}
			<div class="mb-3">
				Você está logado como:
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% else %}
			<div class="mb-3">
				Você não esta logado no sistema!!!
			</div>
		{% endif %}


		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/home/beto/sinfonia/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/home/beto/sinfonia/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
